.sidebar{
    /* background-color: #241b1b; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 10px ;
    position: fixed;
}

.sidebar i{
    font-size: 28px;
    /* padding: 15px; */
    color: white;
}
.sidebar p{
    font-size: 10px;
}


.sidebar div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 4px;
}
