*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #0f0f0f;
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

i,button{
    cursor: pointer;
}



/* Filters CSS */
.filters{
    position: sticky;
    top: 56px; 
    z-index: 900;
    background: #0f0f0fe0;
    width: calc(100% - 80px); 
    margin-left: 80px;
    height: 7vh;
    display: flex;
    align-items: center;
    overflow-x: auto;
    justify-content: space-evenly;
}

.filter{
    background-color: #232323;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px 18px;
    font-weight: 600;
}

.activeFilter{
    background-color: #fff;
    color: #0f0f0f;
}

/* Videos CSS */
.videos-grid{
    width: 98%;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding-left: 80px;
    margin-top: 60px;
}

.card{
    flex-basis: calc(33% - 10px);
    border-radius: 15px;
    transition: 0.25s;
    cursor: pointer;
    padding: 10px ;
}

.card:hover{
    background-color: #18222e;
    scale: 1.001;
}

.card .thumbnail{
    width: 100%;
    border-radius: 15px;
    object-fit: cover;
}

.thumb{
    position: relative;
}

.duration{
    position: absolute;
    bottom: 4.5%;
    right: 2.5%;
    background-color: #22212190;
    padding: 2px 4px;
    font-size: 14px;
    border-radius: 5px;
}

.card-details{
    display: flex;
    gap: 15px;
    padding: 10px;
}

.card-details img{
    border-radius: 50%;
    height: 6vh;
}

.card-details .title p{
    font-weight: 600;
    padding-right: 10px;
}

.channelName{
    color: #929292;
    padding: 5px 0;
    font-size: 14px;
}

.description{
    display: flex;
    color: #929292;
    gap: 10px;
}
.description div{
    /* padding: 5px; */
    font-size: 14px;
}

