*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #0f0f0f;
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

i,button{
    cursor: pointer;
}

/* Filters CSS */
.filters{
    width: 90%;
    height: 7vh;
    position: relative;
    left: 7%;
    /* margin-top: px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.filter{
    background-color: #232323;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px 18px;
    font-weight: 600;
}

.activeFilter{
    background-color: #fff;
    color: #0f0f0f;
}

/* Videos CSS */
.videos-grid{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 10px auto;
}

.card{
    width: 33%;
    border-radius: 15px;
    transition: 0.25s;
    cursor: pointer;
}

.card:hover{
    background-color: #18222e;
    scale: 1.001;
}

.card .thumbnail{
    width: 100%;
    padding: 15px;
    border-radius: 15px;
    object-fit: cover;
}

.card-details{
    display: flex;
    gap: 15px;
    padding: 10px;
}

.card-details img{
    border-radius: 50%;
    height: 6vh;
}

.card-details .title p{
    font-weight: 600;
    padding-right: 10px;
}

.channelName{
    color: #929292;
    padding: 5px 0;
    font-size: 14px;
}

.description{
    display: flex;
    color: #929292;
    gap: 10px;
}
.description div{
    /* padding: 5px; */
    font-size: 14px;
}